.Home {
    font-size: 5em;
    color: aliceblue;
    text-shadow: -5px -5px 3px #000;
    display: flex;
    justify-content: center;
}

.Loading {
    color: aliceblue;
    text-shadow: -5px -5px 3px #000;
    font-size: 4em;
    margin-top: 4vh;
    margin-left: 3vw;
}

.Please {
    color: aliceblue;
    text-shadow: -5px -5px 3px #000;
    margin: 8vh;
    font-size: 2em;
}